<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport"
    content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="telephone=no" name="format-detection" />
  <meta name="full-screen" content="yes" />
  <meta name="browsermode" content="application" />
  <meta name="x5-orientation" content="portrait" />
  <meta name="x5-fullscreen" content="true" />
  <meta name="x5-page-mode" content="app" />
  <title>React Website Demo</title>
</head>

<body>
  <div id="app"></div>
  <% if(htmlWebpackPlugin.options.mode == 'dev'){ %>
  <script>
    console.log('当前是开发环境')
  </script>
  <% } %>
</body>

</html>